#***************************************************************************
# Codebase 
#***************************************************************************
# -- ignore files/folders that begin with playground/scratch/Untitled
playground*
scratch*
Untitled*
# -- ignore notebooks by default : use git add -f filename.ipynb to add 
*.ipynb
# -- ignore directories
tmp/
downloads/
logs/
config/user.yaml

# IGNORE MYST BUILD (FOR NOW - WILL HOOKS PRODUCE NEW ONE?)
_build/
# IGNORE NOTES (FOR NOW)
notes/
#***************************************************************************
# Mac
#***************************************************************************
.DS_Store


#***************************************************************************
# SUBLIME
#***************************************************************************
*sftp-config.json*


#***************************************************************************
# Python / Tests
#***************************************************************************
*.pyc
pip-selfcheck.json
man


#***************************************************************************
# Distribution / packaging
#***************************************************************************
.Python
.ipynb_checkpoints
build/
develop-eggs/
dist/
MANIFEST
downloads/
eggs/
.eggs/
lib/
lib64/
bin/
include
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
